
/* adjusting the size of the background to fit the screen */
body {
    background-image: url(./background-images/Arena-Background.png);
    background-size: cover;
    background-position: center;
}

  
.scoreboard {
    font-family: "Pokemon Solid", sans-serif;
    font-size: 38px;
    text-align: center;
    color: #ffcc00; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 80px;
  }
  
  .winner {
    font-size: 42px;
    color: #ff0000; 
    margin-top: 40px;
  }
  
  .scoreboard span {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  .button {
    background-color: #FFCB05;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .button:hover {
    background-color: #F8B200;
  }
  
  