body {
  background-image: url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tilt Warp', cursive;
}

header {
  justify-content: center;
  align-items: center;
  font-size: 61px;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 5px;
  font-family: 'Tilt Warp', cursive;
  color: #ffcc03;
  -webkit-text-stroke: 5px #3466AF;
	text-shadow: -1px 1px 0px #3466AF,
				  1px 1px 0px #3466AF,
				  1px -1px 0px #3466AF,
				  -1px -1px 0px #3466AF;
}

/* characters */

.container {
  /* background-color: gray; */
  border-radius: 10px;
  height: 70%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 2%;
  border: solid 5px black;
  padding-bottom: 4%;
  backdrop-filter: blur(10px)
}

#character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Arrows at the bottom of the page */
.arrows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

a:visited{
  color: black;
}

.selected {
  border: 3px solid #ffcc03;
  border-radius: 5px;

}